<app-top-header></app-top-header>


<ion-content>

  <cd-timer
  *ngIf='allTestData'
  #basicTimer
    [startTime]="allTestData['duration'] * 60"
    [countdown]="true"
    (onComplete)="finishedTimer()"
    format="hms"></cd-timer>
    <h1> {{ durationTest }} </h1>
    <h1 class="timer-finished" *ngIf="finishedTimer"> {{ message }} </h1>

      <app-single-test
      (questionData)="getQuestionData($event)"
      *ngIf="questionType === 1 && activeCourse"
      [pageNumber]='redOffset'
      ></app-single-test>
    <app-multi-test (questionData)="getQuestionData($event)" *ngIf="questionType === 2 && activeCourse" [pageNumber]='redOffset'></app-multi-test>
    <app-puzzle-text-test (questionData)="getQuestionData($event)" *ngIf="questionType === 3 && activeCourse" [pageNumber]='redOffset'></app-puzzle-text-test>
    <app-puzzle-image-test (questionData)="getQuestionData($event)" *ngIf="questionType === 4 && activeCourse" [pageNumber]='redOffset'></app-puzzle-image-test>


    <app-single-test
      (questionData)="getQuestionData($event)"
      *ngIf="questionType === 1"
      [pageNumber]='pageNumber'
      ></app-single-test>
    <app-multi-test (questionData)="getQuestionData($event)" *ngIf="questionType === 2" [pageNumber]='pageNumber'></app-multi-test>
    <app-puzzle-text-test (questionData)="getQuestionData($event)" *ngIf="questionType === 3" [pageNumber]='pageNumber'></app-puzzle-text-test>
    <app-puzzle-image-test (questionData)="getQuestionData($event)" *ngIf="questionType === 4" [pageNumber]='pageNumber'></app-puzzle-image-test>




</ion-content>
