
  .ext-icon-vlume {
    color: var(--ion-color-second-app);
    font-size: 28px;
  }

  /* header Top */
  ion-header ion-img {
    width: 35px;
    height: auto;
    margin-top: 10px;
  }

  /* end header top */

  ion-toolbar {
    ion-icon {
      color: var(--ion-color-second-app);
      font-size: 30px;
      margin-right: 20px;
      margin-top: 24px;
    }
  }

  .multi-choice {

    ion-text{
      color: var(--ion-color-second-app);
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      text-transform: none;
      margin: 20px 0 50px 0;
    }

    ion-label{
      color: var(--ion-color-second-app);
      font-size: 14px;
      font-weight: 500;
      margin: 10px 0;
      max-width: 60%;
    }

    ion-radio {
      --color: var(--ion-color-second-app);
      margin: 20px 0;
    }



  .sound {
    border: 2px dotted var(--ion-color-second-app);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    min-width: 27%;
    max-width: 80%;
    padding: 7px 0;
    margin: 0px 0 0 60px;

    img.langauge-img{
      width: 30px;
      height: auto;
      max-width: 70%;
    }


    .img-volume {
      @extend .ext-icon-vlume;
    }
  }

  }

  .total-result {
    font-size: 18px;
    font-weight: 900;
    color: var(--ion-color-second-app);
    text-align: center;
    margin-left: 50px;
  }

  .img-langauge {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 13px;
    top: 14px;
    border: 1px solid #ccc;
  }

  .hideButtonNext {
    display: none;
  }

  .showButtonNext {
    display: block;
  }

  .total-result {
    font-size: 18px;
    font-weight: 900;
    color: var(--ion-color-second-app);
    text-align: center;
    margin-left: 50px;
  }



  .sound-question {
    border: 2px solid var(--ion-color-second-app);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    // width: 20%;
    // min-width: 27%;
    // max-width: 80%;
    padding: 7px 0;
    margin-left: 10px;
    margin-top: 30px;

    img.danish-flag {
      width: 30px;
      height: auto;
      max-width: 70%;
    }

    img.langauge-img{
      width: 30px;
      height: auto;
      max-width: 70%;
    }


    .img-volume {
      @extend .ext-icon-vlume;
    }
  }
