  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses/tabs/all-courses"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>

    <div class="img-profile" slot="end" routerLink="user-profile">
      <ion-avatar slot="end">
        <img loading="lazy" *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
        <img loading="lazy" *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
    </div>
  </ion-toolbar>

<ion-content>
  <div class="top-title">
    <h3> Change Password</h3>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="updatedPassword()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" size-md="8">
          <ion-item lines="full">
            <ion-label position="floating" color="primary">Current Password</ion-label>
            <ion-input formControlName='currentPassword' type="password" minlength="6" required></ion-input>
          </ion-item>

          <ion-text color="danger" *ngIf="passwordFormErrors.currentPassword">
            {{ passwordFormErrors.currentPassword }}
          </ion-text>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" size-md="8">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">New Password</ion-label>
            <ion-input formControlName='newPassword' type="password" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="passwordFormErrors.newPassword">
            {{ passwordFormErrors.newPassword }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" size-md="8">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Confirm Password</ion-label>
            <ion-input formControlName='confirmPassword' type="password" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="passwordFormErrors.confirmPassword">
            {{ passwordFormErrors.confirmPassword }}
          </ion-text>
          <ion-text color="danger" *ngIf="passwordForm.controls.confirmPassword.hasError('mismatchedPasswords')">{{ 'notMatch' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>




    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" size-md="8">
          <ion-button (click)="updatedPassword()">
            <ion-icon name="checkmark-outline"></ion-icon>
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
