
<app-top-header></app-top-header>
<ion-content>

  <ion-tabs class="tabs-icons">

    <ion-tab-bar style="border-radius: 20px 20px 0 0; padding: 10px 0;" slot="bottom">
      <ion-tab-button tab="all-courses">
        <!-- <ion-icon name="grid-outline"></ion-icon> -->
        <img src="../../../assets/images/all-courses-icon.png" alt="all-courses-icon" />
        <p>All Courses</p>
      </ion-tab-button>

      <!-- <ion-tab-button tab="top-scores">
        <img src="../../../assets/images/top-score.png" alt="all-courses-icon" />
        <p>Top score</p>
      </ion-tab-button> -->

      <ion-tab-button tab="my-courses">
        <!-- <ion-icon name="documents-outline"></ion-icon> -->
        <img src="../../../assets/images/my-courses-icon.png" alt="all-courses-icon" />
        <p>My Courses</p>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>


