ion-toolbar {
  position: relative;
}

  .user-notification {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 18px;
  right: 90px;
  z-index: 2000000000000000;

  span {
    width: 25px;
    height: 26px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-icon {
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    // animation: notificationAnimate 0.4s 5s 10;
  }
  .user-noti-card {
    background-color: #fff;
    border: 1px solid #8AFA6F;
    width: 90%;
    min-height: 150px;
    height: auto;
    border-radius: 10px;
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 20000;
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 10px 0;
    overflow-y: scroll;

    p {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 15px;
      margin: 10px 0;
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}


